@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }

  * {
    font-size: 8pt;
  }
}

.App {
  background-color: whitesmoke;
  height: 100vh;
}

header {
  background-color: #15303c;
  color: white;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.HeaderContent {
  width: 80%;
  margin: 0 auto;
}

.HeaderContent h1 {
  float: left;
  font-size: 1.5em;
}

.HeaderContent nav {
  float: right;

  padding-top: 20px;
}

.HeaderContent nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.HeaderContent nav li {
  display: inline-block;
  margin-left: 20px;
}

.HeaderContent nav li button {
  background: none !important;
  border: none;
  color: white;
  cursor: pointer;
}

.Invoice {
  background-color: white;
  max-width: 80%;
  margin: auto;
  padding: 1.5em 3em;
  text-align: center;
}

.InvoiceRow {
  display: flex;
  flex-flow: row nowrap;
}

.InvoiceRowBlock {
  flex: 1 0 auto;
  flex-flow: column nowrap;
  white-space: pre-wrap;
}

.AlignLeft {
  text-align: left;
}

.AlignRight {
  text-align: right;
}

.Invoice table {
  border-collapse: collapse;
  width: 100%;
  margin: 0.8em auto;
}

.Invoice thead {
  font-weight: bold;
}

.Invoice td {
  border: 1px solid;
  padding: 8px;
  white-space: pre-wrap;
}

.Invoice .LastColumn {
  border: 0px;
  width: 12px;
  visibility: hidden;
}

@media print {
  .LastColumn {
    display: none !important;
  }
}

.Invoice :hover > td {
  visibility: visible;
}

.Invoice tbody td:first-child {
  text-align: left;
}

.Invoice .CellRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

hr {
  width: 90%;
}

.modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}

.modal {
  margin: auto;
  width: fit-content;
  color: #000;
  background: #fff;
  padding: 5px 40px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal form input,
.modal form textarea {
  margin: 0 0 10px;
}

.modal form label {
  margin: 0 0 0 4px;
}

.modal-form-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal button,
.HeaderContent .modal button {
  color: black;
  margin: 0 4px;
}

.modal button:hover,
.HeaderContent .modal button:hover {
  color: #15303c;
  text-decoration: dashed underline;
}

.modal button:active,
.HeaderContent .modal button:active {
  color: grey;
  text-decoration: none;
}
